<div class="timesliderDiffSettings popup toolbar-popup">
  <div class="popup-content">
    <div id="timesliderDiffOutput"></div>
    <form>
      <label for=updateDiffInline>Inline View</label>
        <input id="updateDiffInline" type="checkbox">

      <input type=submit onClick="updateDiffView();return false" value="Try again">
    </form>
  </div>
</div>

