<ul>
  <li onclick='updateDiffView();$(".timesliderDiffSettings").addClass("popup-show");return false;'>
    <a id="exportlink" title="See the diff between this revision and the latest revision">
      <div class="buttonicon" style="font-size:14px;color:black;width:80px;background-image:none;">
        Show Diff
      </div>
    </a>
  </li>
</ul>
